<section>
    <div class="image-container">
    <img id="landing-image" src="images/landing image.jpeg" alt="Friends enjoying a meal and using the app">
    <p class="image-caption">Transform the way you manage money together.</p>
</div>
    
</section>