<link rel="stylesheet" href="/css/nav.css"> 
<header>
    <div id="logo">
        <a href="#">Bit Lords</a>
    </div>

    <div class="nav-wrapper">
        <nav>
            <a href="/home">Home</a>
            <a href="/visualizer">Charts</a>
            <a href="/groups">Groups</a>
            <a href="/targets">Targets</a>
            <a href="/archives">Archives</a>
            <a href="/notifications">Notifications</a>
        </nav>

        <div class="friend-logo">
            <a href="/friend">
                <img src="/images/add friend.png" alt="Friend's Logo">
            </a>
        </div>
    </div>
</header>