<link rel="stylesheet" href="/css/nav.css"> 
<header>
    <div id="logo">
        <a href="/home">Bit Lords</a>
    </div>

    <div class="nav-wrapper">
        <nav>
            <a href="/home">Home</a>
            <a href="/visualizer">Charts</a>
            <a href="/groups">Groups</a>
            <a href="/targets">Targets</a>
            <a href="/market">Market</a>
            <a href="/archives">Archives</a>
            <div class="notification-wrapper">
                <a href="/notifications" class="notification">Notifications</a>
                <i class="bi bi-brightness-high-fill" id="toggleDark"></i>
            </div>
            
        </nav>

        <div class="navbar friend-logo">
            <div class="dropdown">
              <button class="dropbtn"><img src="/images/add friend.png" alt="Friend's Logo"></button>
              <div class="dropdown-content">
                <a href="/profile">Profile</a>
                <a href="/friend">Friends</a>
                <a href="/logout">Logout</a>
              </div>
            </div>
          </div>
    </div>
</header>
<script>
    async function checker(){
        let doc1 =await fetch("/membersDataFecher/counts")
        let doc = await doc1.json()
        console.log(doc);
        if(doc.count == 1){
           let a = document.getElementsByClassName("notification")[0].style.color = "red";
        }else{
            let a = document.getElementsByClassName("notification")[0].style.color = "white"; 
        }
    }
    checker();

</script>
