<header>
    <div id="logo">
        <a href="#">Bit Lords</a>
    </div>
    
    <nav>
        <a href="/home">Home</a>
        <a class="nav-second" href="#">Categories</a>
        <a class="nav-third" href="/visualizer">Charts</a>
    </nav>
    <div class="friend-logo">
        <a href="/friend">
        <img src="images/add friend.png" alt="Friend's Logo">
        </a>
    </div>
   
</header>