<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpenseTracker</title>
    <link rel="stylesheet" href="/css/chart.css"> <!-- Link to your CSS file -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>

<body>
    <%- include('partials/nav.ejs') %>
    <div class="main-container">
        <h1 class="main-title">Introducing ExpenseTracker</h1>

        <p class="main-subtitle" id="rocket-para">Your gateway to financial mastery and unparalleled insights into your spending habits! <span id="rocket" class="return-rocket">🚀</span></p>

        <div class="main-content">
            <p>
                Are you tired of the mundane task of managing your expenses? Look no further! With ExpenseTracker, we've redefined the way you handle your finances, transforming it into an exhilarating journey of financial enlightenment. Brace yourself for an experience that goes beyond traditional expense tracking – it's a financial adventure!
            </p>

            <div class="main-feature">
                <strong>Daily Marvels:</strong> Dive into the minutiae of your daily expenditures with our sleek and intuitive interface. Witness the ebb and flow of your spending in real-time, empowering you to make informed decisions on the fly. With just a glance, visualize your daily expenses as beautifully crafted graphs that tell the story of your financial day.
                <br> <!-- Add a line break -->
                <a href="/visualizer/?type=1" class="main-button main-button-daily">Explore Daily Marvels</a>
            </div>

            <div class="main-feature">
                <strong>Weekly Wonders:</strong> Embark on a weekly expedition into the realm of your spending patterns. ExpenseTracker provides you with a comprehensive overview of your weekly expenditures, breaking down your financial voyage into manageable segments. Uncover the peaks and valleys of your spending landscape, empowering you to steer your financial ship in the right direction.
                <br> <!-- Add a line break -->
                <a href="/visualizer/?type=2" class="main-button main-button-weekly">Discover Weekly Wonders</a>
            </div>

            <div class="main-feature">
                <strong>Monthly Masterpieces:</strong> Behold the grand tapestry of your monthly spending habits! ExpenseTracker transforms your monthly financial data into a masterpiece of financial art. Navigate through the intricate details of your spending, gaining insights that elevate your financial intelligence to unprecedented heights.
                <br> <!-- Add a line break -->
                <a href="/visualizer/?type=3" class="main-button main-button-monthly">Explore Monthly Masterpieces</a>
            </div>

            <div class="main-feature">
                <strong>Yearly Epics:</strong> Your financial saga unfolds in yearly epics with ExpenseTracker. Delve into the annals of your annual expenses, learning from the past to build a brighter financial future. Our sophisticated analytics paint a comprehensive picture of your year, ensuring you make strategic financial decisions that stand the test of time.
                <br> <!-- Add a line break -->
                <a href="/visualizer/?type=4 " class="main-button main-button-yearly">Embark on Yearly Epics</a>
            </div>

            <div class="main-feature">
                <strong>Category Chronicles:</strong> But wait, there's more! ExpenseTracker doesn't just stop at tracking your overall expenses. We've segmented your spending into categories – Food, Medical, Entertainment, and beyond. Explore the individual chapters of your spending story, each category narrating a unique tale. Revel in the power to optimize your budget with category-specific insights that drive your financial success.
                <br> <!-- Add a line break -->
                <!-- Add buttons for other features here -->
            </div>

            <p class="main-call-to-action">At ExpenseTracker, we don't just track expenses; we craft financial adventures. Our user-friendly platform, coupled with captivating visuals and insightful analytics, turns the mundane into the extraordinary. Join us on this journey towards financial enlightenment, where every graph, chart, and insight tells a story of financial empowerment and success.</p>
        </div>
    </div>
    <%- include('partials/foot.ejs') %>
    <script src="/js/charts.js"></script>

    <script src="js/darkmode.js" defer></script>
</body>

</html>