<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Expense Splitter</title>
  <link rel="stylesheet" href="css/gruops.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>
<body>
  <%- include('partials/nav.ejs') %>

  <main>
    <section class="first-card">
      <div class="card">
        <div class="card-header">
          <div class="header-left">
            <label for="date">Create Group</label>
          </div>
        </div>
        <div class="card-body">
          <form id="groupForm" action="/groups/addgroup" method="post">
            <div class="form-group">
              <div class="change">
              <label for="groupName">Group Name:</label>
              <input type="text" id="groupName" name="groupname" oninput="def()"  required>
              </div>
            </div>
            <div class="form-group" id="create-gruop-button">
              <button type="button" class="button" id="button12" onclick="change()">Check</button>
              <button type="submit" class="button" id="button11">Create</button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section id="groupsList" class="second-card">
      <div class="card">
        <div class="card-header">
          <div class="header-left">
            <label for="date">Groups</label>
          </div>
        </div>
        <div class="card-body">
          <div class="change">
          <ul>
            <% group.forEach((i) => { %>
              <li><a href="/member?groupname=<%= i.Groupname %>"><%= i.Groupname %></a></li>
            <% }) %>
          </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include('partials/foot.ejs') %>
 

  <script src="js/darkmode.js" defer></script>
  <script src="js/group.js">
  </script>
</body>
</html>
