<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Custom Demo</title>
    <link rel="stylesheet" href="landing.css">
</head>

<body>
    <header>
        <div id="logo">
            <a href="#">Bit Lords</a>
        </div>
        <nav>
            <a href="#">Home</a>
            <a class="nav-second" href="#">Categories</a>
            <a class="nav-third" href="#">Charts</a>
        </nav>
    </header>

    
    <section>
        <div class="image-container">
        <img id="landing-image" src="landing image.jpeg" alt="Friends enjoying a meal and using the app">
        <p class="image-caption">Transform the way you manage money together.</p>
    </div>
        
    </section>

    <footer>
        &copy; 2023 Team Bit Lords. All rights reserved.
    </footer>
</body>