/* Container Styles */
.main-container {
    max-width: 800px;
    margin: auto;
    text-align: center;
    margin-top: 80px;
}

/* Title Styles */
.main-title {
    color: #007bff;
    font-size: 2em;
}

/* Subtitle Styles */
.main-subtitle {
    margin-bottom: 30px;
    font-size: 1.2em;
    color: #6c757d;
}

/* Main Content Styles */
.main-content {
    margin-bottom: 40px;
}

/* Feature Box Styles */
.main-feature {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

/* Feature Box Hover Styles */
.main-feature:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Feature Box Title Styles */
.main-feature strong {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #007bff;
}

/* Button Styles */
.main-button {
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 15px; /* Add space above the button */
}

/* Button Hover Styles */
.main-button:hover {
    background-color: #0056b3;
}

/* Call to Action Styles */
.main-call-to-action {
    font-size: 1.1em;
    color: #6c757d;
}

/* Rocket Animation Keyframes */
@keyframes flyAwayAnimation {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(-1000px) rotate(360deg);
    }
}

@keyframes returnAnimation {
    to {
        transform: translateY(0) rotate(0deg);
    }
}

/* Rocket Paragraph Styles */
#rocket-para {
    display: flex;
    align-items: center;
}

/* Rocket Icon Styles */
#rocket {
    margin-left: 5px; /* Adjust the margin as needed */
    cursor: pointer;
}

/* Flying Away Animation */
#rocket.fly-away {
    animation: flyAwayAnimation 6s ease-in-out forwards;
}

/* Returning Animation */
#rocket.return-rocket {
    animation: returnAnimation 2s ease-in-out forwards;
    animation-delay: 2s; /* Adjust the delay for the return */
}