/* Reset default margin and padding */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 1% 5%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  #logo a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
  }
  
  nav {
    display: flex;
    align-items: center;
    padding-left: 50%;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    margin-left: 10%;
    margin-right: 5%;
  }
  
  .nav-second {
    padding-left: 50%;
  }
  
  .nav-third {
    padding-left: 50%;
  }
  
  /* Group and Friends sections styles */
  .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
   
  }
  
  .first-card,.second-card,.third-card{
   padding-top: 150px;
   padding-left: 20%;
   max-width: 50%;
  }
  
  .card {
    border: 3px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 3px 3px 0px black;
   
  }
  
  .card-body {
    text-align: center;
    padding-left: 25%;
  }
  
  /* Form and list styles */
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-bottom: 10px;
  }
  
  form label,
  form input,
  form button {
    margin-bottom: 10px;
  }
  
  ul {
    padding-left: 22%;
    list-style: none;
    max-width: 200px;
  }
  
  li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
  }
  
  li:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  /* Button styles */
  .button {
    width: 100px;
    height: 40px;
    padding: 1% 2%;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  .friend-logo {
    margin-left: auto; /* Push the friend's logo to the right */
    margin-right: 10%; /* Add some margin for spacing */
}

.friend-logo img {
    width: 40px; 
    height: 40px; 
}  
.card-header {
    background-color: #333f;
    color: white;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
    padding: 2%;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .form-group label {
    margin-right: 10px;
    flex: 0 0 100px; /* Adjust label width as needed */
  }
  
  .form-group input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  #create-gruop-button{
    padding-left: 50%;
  }