body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

/* header2{
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 2em 0;
} */

section {
    text-align: center;
    padding: 3em 0;
}

h1 {
    color: #333;
}

p {
    color: #666;
    font-size: 1.1em;
    line-height: 1.6em;
}

#landing-image{
    height: 100%;
    width: 100%;
}
.image-container {
    perspective: 1000px;
    perspective-origin: 50% 50%; 
}

.image-caption {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em; 
    font-weight: bold; 
    color: #fff;
    text-shadow: 10px 10px 18px rgba(0, 0, 0, 0.9);
}