body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}


section {
    text-align: center;
    padding: 3em 0;
}

h1 {
    color: #333;
}

p {
    color: #666;
    font-size: 1.1em;
    line-height: 1.6em;
}

#landing-image{
    height: 100%;
    width: 100%;
}
.image-container {
    perspective: 1000px;
    perspective-origin: 50% 50%; 
}

.image-caption {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em; 
    font-weight: bold; 
    color: #fff;
    text-shadow: 10px 10px 18px rgba(0, 0, 0, 0.9);
}
#table-of-today-Transactions {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2%; /* Adjust as needed */
}

#table-of-today-Transactions th, #table-of-today-Transactions td {
    border: 1px solid #555;
    padding: 1%; /* Adjust as needed */
    text-align: left;
}

#table-of-today-Transactions th {
    background-color: #555;
    color: white;
    width: 30%; /* Adjust the width for the header cell */
}

#table-of-today-Transactions tr:first-child {
    background-color: #555;
    color: white;
}

#table-of-today-Transactions td {
    /* If you want to set a specific width for data cells */
    width: 20%; /* Adjust the width for the data cell */
}