table {
    border-collapse: collapse;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
    margin-top: 10%; /* Adjust as needed */
    margin-left: 20%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #555;
    color: white;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.button-green {
    background-color: #4CAF50; /* Green */
    color: white;
    border: 2px solid #4CAF50;
}

.button-red {
    background-color: #FF5733; /* Red */
    color: white;
    border: 2px solid #FF5733;
}

.button:hover {
    background-color: #333;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}