
/* Using Arial font throughout the page with no extra space around the edges. */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Position Right Content */
.right-content {
    margin-left: auto;
}

.first-card {
    
    padding: 2%; /* General padding for the first card */
    padding-top: 10%; 
}

.second-card {
    padding: 2%; /* Padding for the second card */
}

.third-card {
    padding: 2%; /* Padding for the third card */
}

/* Styling for Boxes (Cards) */
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 2%;
}

/* Design for Card Headers */
.card-header {
    background-color: #333f;
    color: white;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
    padding: 2%;
}

/* Alignment for Header Elements */
.header-left,
.header-right,
.header-center {
    display: flex;
    align-items: center;
}

/* Spacing for Labels */
.label-margin {
    margin-right: 2%;
}

/* Adjustment for Dropdowns and Buttons */
select,
button {
    margin-left: 2%;
}

/* Separating Sections */
hr {
    margin: 1% 0;
}

/* Content Style within Cards */
.card-body {
    text-align: center;
}

/* Styling for Buttons */
.button {
    width: 100px; /* Adjusted width for larger size */
    height: 40px;
    padding: 1% 2%;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

/* Hover Effect for Buttons */
button:hover {
    background-color: #2980b9;
}

/* Chart Styling (Not currently applied) */
#myPieChart_daily {
    height: 20%;
}
